# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
__snapshots__

# Dependency directories
node_modules
jspm_packages

# production
/build

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
.idea

.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json
