html,
body {
  height: 100%;
  font-size: 14px;
  font-family: sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  min-width: 1024px;
}

.clearfix {
  display: block;
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.layout-container {
  max-width: 1216px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.main-wrapper {
  width: 100%;
  min-height: calc(100vh - 114px);
  background: #fafafa;
}

.nav {
  position: relative;
  z-index: 1001;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.nav .logo {
  float: left;
  height: 100%;
  margin-right: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.nav .left {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.nav .right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.nav .search {
  margin-right: 24px;
  width: 270px;
}

.nav .ant-input {
  background: #f5f5f5;
  border: none;
  outline: none;
  box-shadow: none;
}

.nav .menu {
  height: 100%;
}

.nav .ant-menu-horizontal {
  border-bottom: none;
}

.nav .ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 2px solid #08979c;
  color: #08979c;
}

.nav .ant-menu-horizontal > .ant-menu-item-active {
  border-bottom: none;
  color: #08979c;
}

.nav .right .ant-avatar {
  background: #08979c;
}

.nav .right a {
  color: #000;
}

.content {
  padding: 12px 0;
}

.content-history {
  padding: 12px;
}

.steps-def {
}
.steps-content {
  margin-top: 16px;
  border-radius: 6px;
  background-color: #fafafa;
}

.steps-action {
  margin-top: 24px;
}

.collectors h3 {
  padding-top: 36px;
}

.collectors-filter {
  margin: 0 12px 24px 12px;
}

.collectors-filter .title {
  padding: 6px 12px;
  border-bottom: 1px solid #e6e6e6;
}

.collectors-filter .title .ant-checkbox-wrapper {
  font-size: 18px;
  font-weight: bold;
}

.collectors-filter .ant-form {
  padding: 4px 36px;
}

.ant-tabs-extra-content {
  float: left !important;
  width: 60px;
  text-align: center;
}

.home-menu .ant-menu {
  background: none;
}

.home-menu .ant-menu-inline {
  border: none;
}

.home-menu .ant-menu-submenu-arrow {
  display: none;
}

.home-content {
  padding: 12px;
  height: 100%;
}

.home-content .ant-tabs-bar {
  background: none;
}

.basic-info {
  margin: 40px 160px;
}

.collectors-def .area {
  width: 620px;
}

.collectors-items {
  height: 100%;
}

.collectors-items .collectors-items-add {
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}

.def-header {
  border-bottom: #08979c 1px solid;
  width: 100%;
  height: 45px;
}

.def-header button {
  margin-right: 10px;
  float: right;
}

.def-content {
  padding-top: 12px;
}

.c-select .ant-input {
  position: relative;
  width: calc(100% - 36px);
  top: -40px;
}

.error-wrapper {
  width: 40%;
  margin: 0 auto;
  padding-top: 200px;
  text-align: left;
}
.error-wrapper .error-code {
  font-size: 36px;
}
.error-wrapper .error-message {
  font-size: 20px;
  margin-top: 30px;
}
.error-wrapper .return-btn {
  margin-top: 30px;
}

.c-tree .ant-tree-node-content-wrapper {
  width: calc(100% - 20px);
}

.c-tree .ant-tree-treenode-selected {
  background: #fafafa;
  font-weight: bold;
}

.c-tree-node .anticon-more {
  float: right;
  position: relative;
  z-index: 1;
}

.c-sub-form {
  width: 100%;
  padding: 4px;
}

.c-sub-form .ant-form-item {
  font-size: 10px;
  line-height: 30px;
  display: flex;
}

.c-sub-form .ant-form-item-label {
  width: 33%;
  height: 30px;
  line-height: 30px;
}

.c-sub-form .ant-form-item-label label {
  font-size: 12px;
}

.c-sub-form .ant-form-item-control-wrapper {
  width: 64%;
  display: inline-block;
  margin-left: 8px;
}

.c-sub-form .ant-form-item-control {
  line-height: 30px;
}

.c-sub-form .ant-select-selection--single {
  height: 30px;
}

.c-sub-form .ant-input-number {
  height: 30px;
}

.c-sub-form .ant-select {
  font-size: 12px;
}

.c-sub-form .ant-radio-group label {
  font-size: 12px;
}

.sub-select .ant-select-dropdown {
  font-size: 12px;
}

.c-tree-node span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120px;
  display: inline-block;
}

.input-copy {
  padding: 0;
  cursor: pointer;
  border: 0;
}

.url-template-date .ant-input {
  top: -31px;
  height: 30px;
}
